<div class="home-container">
  <img src="concert.jpeg" class="background-image" alt="Background Image">
  <div class="overlay"></div>
  <div class="home-content">
    <h1>Streamline Your Event Experience with Event Plana</h1>
    <p>Effortlessly organize and attend events with our platform</p>
    <div class="home-buttons">
      <button class="btn btn-get-started" (click)="navigateTo('/register')">Get Started</button>
      <button class="btn btn-learn-more" (click)="navigateTo('/events')">Learn More</button>
    </div>
  </div>
</div>
