.footer {
  background-color: #007BFF;
  color: #fff;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer-section ul li a:hover {
  color: #FFC107;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #fff;
  margin-top: 20px;
}
