<div class="about-container">
  <div class="about-content">
    <h2>About Us</h2>
    <p>
      Event Plana is your ultimate solution for organizing and attending events effortlessly. Our platform is designed to streamline the entire event experience, from planning to participation. We provide a seamless interface for event organizers and attendees, ensuring every event is a success.
    </p>

    <h2>Our Mission</h2>
    <p>
      Our mission is to make event management and attendance as smooth and enjoyable as possible. We aim to empower event organizers with the tools they need to create outstanding events while providing attendees with a user-friendly platform to discover and participate in events they love.
    </p>
  </div>
  <div class="about-image-card">
    <img src="concert2.jpeg" alt="About Us Image"> <!-- Update with your actual image path -->
  </div>
</div>
