.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  background-color: #F8F9FA;
  color: #333;
}

.about-content {
  flex: 1;
  max-width: 55%;
  padding-right: 20px;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #007BFF;
  margin-bottom: 20px;
  border-bottom: 3px solid #007BFF;
  display: inline-block;
}

.about-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.about-image-card {
  flex: 1;
  max-width: 40%;
  text-align: center;
  padding-left: 20px;
}

.about-image-card img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
